main {
    display: flex;
    margin: 15px 0;
}

main div h2 {
    color: #009688;
    width: 250px;
    padding-top: 50px;
    padding-bottom: 20px;
}

main div p {
    width: 450px;
}

footer {
    position: absolute;
    top: 90%;
}